

<style>

/* Header */
.cancel_logo_header {
    height: 50px;
    background: #f7f9fa;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 1px solid #eff3f4;
}

.cancel_logo_header img {
    height: 20px;
    width: auto;
}

/* Heading */
.heading {
    padding: 0 0 2rem 0;
    border-bottom: 1px solid #eff3f4;
    margin-bottom: 2rem;
}

.heading_text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    display: block;
}
</style>

<div class="cancel_logo_header" style="height: 50px;background: rgb(255, 255, 255);display: flex; border-radius: 10px; align-items: center; justify-content: center;">
                <img src="https://1000logos.net/wp-content/uploads/2023/10/X-Logo.jpg" height="20rem" >
                </div>
                <div class="heading" style="padding: 0rem 2rem;">
                   <span style="font-weight: 700;">Create Your Account</span>
                </div>