<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <form enctype="application/x-www-form-urlencoded">
<div class="center-aligner" style="background-color: black; height: 100vh; display: flex;justify-content: center; align-items: center;">

    <div class="central_container" style="height: 70vh; width: 25vw; background: white; display: flex;justify-content: center; align-items: center; ">
        
        <div class="form_container" style="display: flex;align-items: center; justify-content: center ; flex-direction: column;  height: 40vh;width: 75%;gap:1rem; background: #ffffff;">
            <form>
            <div class="field_container" style="cursor: pointer;background: white; height: 30px; display: flex;padding: 5px 20px; border: 1px solid grey; border-radius: 5px;"> 
                <input type="text" id="emailField" placeholder="Phone , email , or username" style="border: none; outline: none;">
              
            </div>
            <div class="field_container"  style="cursor: pointer;background: white; height: 30px; margin-top:7px ; display: flex;padding: 5px 20px; border: 1px solid grey; border-radius: 5px;"> 
                <input type="text" id="OTPField" placeholder="OTP" style="border: none; outline: none;">
              
            </div>
            <span id="OTP_message" style="font-size: small;"></span>
            
             <div class="field_container" id="sendOTP" style="cursor: pointer;background: rgb(0, 0, 0); color: white; display: flex; justify-content: center; align-items: center; height: 25px; width: 11rem; margin-top:7px ; display: flex;padding: 5px 20px; border: 1px solid grey; border-radius: 50px;"> 
              
                    Send OTP
            </div>
            <div class="field_container" id="sumbitFinalOTP" style="cursor: pointer;background: rgb(0, 0, 0); color: white; display: flex; justify-content: center; align-items: center; height: 25px; width: 11rem; margin-top:7px ; display: flex;padding: 5px 20px; border: 1px solid grey; border-radius: 50px;"> 
              
                    Submit OTP
            </div>
           
        </div>
    </div>

</div>


</form>
    


</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> -->

<script>
     const emailField = document.getElementById("emailField");
    const OTPField = document.getElementById("OTPField");
    const sendOTP = document.getElementById("sendOTP") 
    const submitOTPandEmail = document.getElementById("sumbitFinalOTP")
    const forgotPasswordButton = document.getElementById("forgotPassword")
    const OTP_message = document.getElementById("OTP_message")

    sendOTP.addEventListener("click",async(e)=>{
        const validOTPTime = 120;
        e.preventDefault();
        if(emailField.value==""){
            alert("enter the email")
            return
        }
        // window.open(`/api/v1/users/email-ui?email=${emailField.value}`,"_blank")
        window.location.href = `/api/v1/users/email-ui?email=${emailField.value}` 
        
        OTP_message.innerText =  `OTP has been sent to ${emailField.value} valid upto ${validOTPTime} seconds`
        OTP_message.style.fontSize = '10px'
        // if(emailField.value ==="" || passwordField.value ===""){
        //     alert("enter the details")
        // }
        const data = {
            email:emailField.value,
            password:passwordField.value
        }

        const response =await fetch("http://localhost:8080/api/v1/users/login",{
            method:"POST",
            body:JSON.stringify({email:emailField.value , password:OTPField.value}),
            headers:{
                "Content-Type":'application/json'
            }
        })
        if(response.status == 200){
            alert("data submit success")
        }
        if(response.status==402){
            alert("enter valid data")
        }
        if(response.status===422){
            alert("user does not exists")
        }
        
    })


submitOTPandEmail.addEventListener("click",async (e)=>{
    e.preventDefault()
   
    const response = await fetch(`http://localhost:8080/api/v1/users/validateOTP`,{
        method:"POST",
        body:JSON.stringify({email:emailField.value , OTP:OTPField.value}),
        headers:{
            "Content-Type":"application/json"

        }
    })

    if(response.status==200){
        window.location.href = `/api/v1/users/resetpassword?email=${emailField.value}`
        
        
    }
    
    if(response.status==402){
        alert("OTP Invalid")
    }


})












</script>














</html>