<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<style>
body{
    padding: 0;
    margin: 0;
}
    .screen-container{
        background: #000000;
        height: 100vh;
        padding:0px 5em;
        
    }
    .center-aligner{
        background: rgb(0, 0, 0);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


</style>


<body>
    
    <div class="screen-container"> <!--  takes whole height width and gives hori margin--> 

       <section class="center-aligner"> <!--  common container takes central window-->

            <div class="" style="height: 50px ; width: 50px; background: white;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/X_logo.jpg/1280px-X_logo.jpg" height="100rem" width="100rem">
            </div>

       </section>
<a href="">Next</a>
    </div>

    <script>

        setTimeout(()=>{

            window.location.href = "http://localhost:8080/api/v1/users/Home"

        },3000)



    </script>
</body>

    


</html>